@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/medievalsharp";

@layer base {
  :root {
    --dark: #252f23;
    --highlight: rgb(191, 221, 116);
    --green-link: #3ebe3e;
    --green-link-highlight: #6dee6d;
    --primary: #1a641a;
    --primary-hover: #228022;
    --correct: #27ac27;
    --incorrect: #761313;
  }

  body {
    color: var(--highlight);
    background-color: var(--dark);
  }

  h1 {
    font-family: 'MedievalSharp';
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  p {
    padding-bottom: 10px;
  }

  a {
    color: var(--green-link);
    text-decoration: underline;
  }

  a:hover {
    color: var(--green-link-highlight);
  }

  .btn {
    @apply py-1 px-2 rounded;
  }
  .btn-primary {
    @apply bg-primary text-highlight;
  }
  .btn-primary:hover {
    @apply bg-primaryHover;
  }
  .btn-primary:hover:disabled {
    @apply bg-primary
  }
  .btn-correct {
    @apply bg-correct text-highlight;
  }
  .btn-correct:hover {
    @apply bg-correct text-highlight;
  }
  .btn-incorrect {
    @apply bg-incorrect text-highlight;
  }
  .btn-incorrect:hover {
    @apply bg-incorrect text-highlight;
  }

  .textfield {
    @apply rounded p-1 mr-2 bg-primary text-highlight placeholder-green-600
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .signup-form .form-group {
    margin-bottom: 1rem;
  }
  .signup-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .signup-form input {
    padding: 0.5rem;
    border-radius: 4px;
    /* border: 1px solid #ccc; */
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

}