@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/medievalsharp";

@layer base {
  :root {
    --dark: #252f23;
    --highlight: rgb(191, 221, 116);
    --green-link: #3ebe3e;
    --green-link-highlight: #6dee6d;
    --primary: #1a641a;
    --primary-hover: #228022;
    --correct: #27ac27;
    --incorrect: #761313;
  }

  body {
    color: var(--highlight);
    background-color: var(--dark);
  }

  h1 {
    font-family: 'MedievalSharp';
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  p {
    padding-bottom: 10px;
  }

  a {
    color: var(--green-link);
    text-decoration: underline;
  }

  a:hover {
    color: var(--green-link-highlight);
  }

  .btn {
    @apply py-1 px-2 rounded;
  }
  .btn-primary {
    @apply bg-primary text-highlight;
  }
  .btn-primary:hover {
    @apply bg-primaryHover;
  }
  .btn-primary:hover:disabled {
    @apply bg-primary
  }
  .btn-correct {
    @apply bg-correct text-highlight;
  }
  .btn-correct:hover {
    @apply bg-correct text-highlight;
  }
  .btn-incorrect {
    @apply bg-incorrect text-highlight;
  }
  .btn-incorrect:hover {
    @apply bg-incorrect text-highlight;
  }

  .textfield {
    @apply rounded p-1 mr-2 bg-primary text-highlight placeholder-green-600
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .signup-form .form-group {
    margin-bottom: 1rem;
  }
  .signup-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .signup-form input {
    padding: 0.5rem;
    border-radius: 4px;
    /* border: 1px solid #ccc; */
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-form .form-group {
    margin-bottom: 1rem;
  }

  .login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .login-form input {
    padding: 0.5rem;
    border-radius: 4px;
    /* border: 1px solid #ccc; */
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  .medieval {
    font-family: 'MedievalSharp';
  }
  h2 {
    font-family: 'MedievalSharp';
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    text-decoration: underline;
  }
  h4 {
    font-family: 'MedievalSharp';
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .ruleset {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  li {
    list-style: none;
  }

  nav ul li a {
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: -100px;
    padding: 20px;
  }
  
  .title {
    font-size: 75px;
    text-align: center;
    font-family: 'MedievalSharp';
    color: var(--highlight);
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.2rem;
    font-family: 'MedievalSharp';
    color: var(--highlight);
    margin-bottom: 30px;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .link {
    font-size: 1.5rem;
    padding: 10px 20px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    text-decoration: none;
    color: var(--highlight);
    transition: all 0.2s ease-in-out;
  }
  
  .link:hover {
    background-color: var(--primary-hover);
    color: var(--highlight);
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }

  .navlink {
    font-size: 15px;
    padding: 10px 20px;
    border: 1px solid var(--primary);
    border-radius: 3px;
    text-decoration: none;
    color: var(--highlight);
    transition: all 0.2s ease-in-out;
    margin-right: 15px;
  }

  .navlink:hover {
    background-color: var(--primary-hover);
    color: var(--highlight);
  }

  .navtitle {
    font-size: 50px;
    text-align: center;
    font-family: 'MedievalSharp';
    color: var(--highlight);
    margin-right: auto;
  }


}